<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.second.subject.SubjectMapper">
    <insert id="postSubject" useGeneratedKeys="true" keyProperty="subjectId">
        INSERT INTO subject
        SET subject_name = #{subjectName}
            , grade = #{grade}
    </insert>
    <select id="getSubjectList">
        SELECT subject_id AS subjectId
                , subject_name AS subjectName
                , grade
                , created_at AS createdAt
                , updated_at AS updatedAt
        FROM subject
        WHERE subject_id = #{subjectId}
    </select>
</mapper>